$background_color: #2F5BEA;
.login {
  margin-top: 10%;
  .login-form {
    background: $background_color;
    box-shadow: 0 7px 30px 0 rgba(0,0,0,0.61);
    form {
      font-family: "Proxima Nova Semibold";
      margin: auto;
      width: 70%;
    }
    h5, h3 {
      color: #fff;
      margin: auto;
    }
    h5 {
      @media screen and (max-width: 992px) {
        font-size: 1rem;
      }
      @media screen and (min-width: 768) {
        font-size: 1.25rem;
      }
    }
    h3 {
      font-weight: 600;
      line-height: 28px;
    }
    .title-row {
      padding-top: 30%;
    }
    .login-button {
      width: 100%;
      text-transform: uppercase;
      color: $background_color;
      background: #fff;
      font-weight: 700;
      letter-spacing: 0.35px;
      padding: 10px 30px 10px 30px;
    }
    .register-form {
      padding-bottom: 30%;
      .register-link {
        margin: auto;
      }
      .register-button {
        @extend .login-button;
        font-weight: 700;
        letter-spacing: 0.35px;
        text-align: center;
        padding: 10px 30px 10px 30px;
      }
    }
    .password {
      position: relative;
      color: #fff;
      opacity: 0.7;
      span {
        font-family: "proxima-nova, sans-serif";
        font-weight: 100;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      #show-password {
        position: absolute;
        right: 120px;
        top: 13px;
        input {
          background: rgba(40, 40, 40, 0.2);
          appearance: none;
          color: black;
          border: 1px solid #fff;
          border-radius: 4px;
          width: 17px;
          height: 17px;
          &:checked {
            background: rgba(40, 40, 40, 1.0);
          }
        }
      }
      .forgot-link {
        font-family: "proxima-nova, sans-serif";
        position: absolute;
        top: 10px;
        right: 20px;
        color: #fff;
        text-decoration: underline;
      }
    }
    input::placeholder {
      color: #fff;
      opacity: 0.7;
    }
    .context-input {
      font-family: "proxima-nova, sans-serif";
      background: $background_color;
      color: #fff;
      border: 1px solid #fff;
      font-size: 20px;
    }
    .go-to-login-page {
      padding-top: 44px;
    }
    @media screen and (max-width: 1201px) {
      margin-top: 30%;
    }
    @media screen and (max-width: 992px){
      margin-top: 60%;
    }
    @media screen and (max-width: 768px){
      margin-top: 5%;
    }
  }
}