$background_color: #2F5BEA;
.login {
  margin-top: 10%;
  .login-form {
    background: $background_color;
    box-shadow: 0 7px 30px 0 rgba(0,0,0,0.61);
    form {
      margin: auto;
      width: 70%;
    }
    h5, h3 {
      color: #fff;
      margin: auto;
    }
    h3 {
      font-weight: 600;
      line-height: 28px;
    }
    .title-row {
      padding-top: 30%;
    }
    .login-button {
      width: 100%;
      text-transform: uppercase;
      color: $background_color;
      background: #fff;
      font-weight: 700;
      letter-spacing: 0.35px;
      padding: 10px 30px 10px 30px;
    }
    .register-form {
      padding-bottom: 30%;
      .register-link {
        margin: auto;
      }
      .register-button {
        @extend .login-button;
        font-weight: 700;
        letter-spacing: 0.35px;
        text-align: center;
        padding: 10px 30px 10px 30px;
      }
    }

    .context-input {
      background: $background_color;
      color: #fff;
      opacity: 0.7;
      border: 2px solid #fff;
      font-size: 20px;
      ::placeholder {
        color: #fff;
        opacity: 0.7;
      }
    }
  }
}