$background_color: #3579DC;
$error_color: #fbff00;

@mixin checkbox {
  background: rgba(40, 40, 40, 0.2);
  appearance: none;
  color: black;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  &:checked {
    background: $background_color;
  }
  &:checked:after {
    content: "";
    position: absolute;
    outline: none;
    color: #1c2125;
  }
}
.login {
  margin-top: 5%;
  .login-form {
    margin-top: 10%;
    // width: 90%;
    background: $background_color;
    box-shadow: 0 7px 30px 0 rgba(0,0,0,0.61);
    min-height: 635px;
    form {
      font-family: "Proxima Nova Light";
      margin: auto;
      width: 75%;
    }
    h5, h6, h3, h4 {
      color: #fff;
      margin: auto;
    }
    h5 {
      @media screen and (max-width: 992px) {
        font-size: 1rem;
      }
      @media screen and (min-width: 768) {
        font-size: 1.25rem;
      }
    }
    input:-webkit-autofill {
      background-color: red !important;  
    }
    h3 {
      font-weight: 600;
      line-height: 28px;
    }
    .title-row {
      padding-top: 30%;
      margin-bottom: 25px;
      h4 {
        width: 70%;
      }
    }
    .failed-message{
      p {
        margin: auto;
        font-weight: 100;
        color: #fbff00;
      }
    }
    .login-button {
      width: 100%;
      text-transform: uppercase;
      color: $background_color;
      background: #fff;
      font-weight: 700;
      letter-spacing: 0.35px;
      padding: 10px 30px 10px 30px;font-family: "Proxima Nova Semibold";

    }
    .register-form {
      padding-bottom: 30%;
      .register-link {
        margin: auto;
      }
      .register-button {
        @extend .login-button;
        font-weight: 700;
        letter-spacing: 0.35px;
        text-align: center;
        padding: 10px 30px 10px 30px;
      }
    }
    .password {
      position: relative;
      color: #fff;
      opacity: 0.7;
      span {
        font-family: "proxima-nova, sans-serif";
        font-weight: 100;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      #show-password {
        position: absolute;
        right: 120px;
        top: 13px;
        input {
          @include checkbox();
        }
      }
      small {
        color: #fbff00;
      }
    }
    .password-hint {
      margin-left: -10px;
      .error {
        display: inline-flex;
        color: #fbff00;
        span {
          margin-left: 10px;
          margin-top: 4px;
        }
      }
      .valid {
        display: inline-flex;
        color: white;
        span {
          margin-left: 10px;
          margin-top: 4px;
        }
      }
    }
    .email {
      small {
        color: #fbff00;
      }
    }
    .agreements {
      // margin-left: 15px;
      input {
        @include checkbox();
      }
      small {
        margin-left: 10px;
      }
      span {
        color: #fff;
        margin-left: 10px;
        font-weight: 100;
        font-size: 90%;
      }
    }
    .password-view {
      width: 24px;
      position: absolute;
      right: 10px;
      top: 6px;
    }
    .keepmelogin {
      input {
        @include checkbox();
      }
      span {
        color: #fff;
        margin-left: 10px;
        font-weight: 100;
      }
      padding-bottom: 5%;
      .forgot-password {
        position: absolute;
        right: 10%;
        .forgot-link {
          font-family: "Proxima Nova Semibold";
          text-transform: uppercase;
          top: 10px;
          color: #fff;
          text-decoration: underline;
        }
      }
    }
    .awstipsform {
      input {
        @include checkbox();
      }
      label, small {
        color: #fff;
        margin-left: 10px;
        font-weight: 100;
        font-size: 101%;
      }
      span {
        text-align: center;
      }
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
    .service-content {
      h6 {
        color: #fbff00;
      }
    }
    .have-account {
      padding-top: 20%;
      a {
        font-weight: 600;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        margin-left: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3) ;
      }
    }
    input::placeholder {
      color: #fff;
      opacity: 0.7;
    }
    .context-input {
      font-family: "proxima nova Thin";
      background: $background_color;
      color: #fff;
      border: 1px solid #fff;
      font-size: 20px;
    }
    .go-to-login-page {
      padding-top: 44px;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
    @media screen and (max-width: 1201px) {
      // margin-top: 30%;
    }
    @media screen and (max-width: 992px){
      // margin-top: 60%;
    }
    @media screen and (max-width: 768px){
      margin-top: 5%;
    }
  }
}